---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio"></Layout>
	<main class="container mx-auto max-w-screen-sm py-20 gap-8 flex flex-col">
		<section class="gap-2 px-4">
			<img class="rounded-full w-20 h-20 mb-3" src="/img.jpeg" alt="Umit Can Evleksiz" />
			<h1 class="text-3xl text-gray-800 dark:text-gray-200">Hey! I'm Ümit Can. </span></h1>
			<p class="text-md font-normal text-gray-500 dark:text-gray-600 mt-4 text-balance">I'm a product engineer <a target="_blank" class="text-slate-700 dark:text-slate-500 transition-all duration-200 hover:text-orange-500 dark:hover:text-orange-400" href="https://www.inploi.com/">@inploi</a> and a senior computer engineering student, passionate about blending engineering and design methodologies to create impactful web experiences.</p>
		</section>
		<hr class="border-gray-300 dark:border-gray-900" />
		<section class="gap-2 px-4">
			<h2 class="text-xl text-gray-500 dark:text-gray-400">Experience </span></h2>
		</section>
		<section class="gap-2 px-4">
			<h2 class="text-xl text-gray-500 dark:text-gray-400">Extracurricular </span></h2>
		</section>
		<section class="gap-2 px-4">
			<h2 class="text-xl text-gray-500 dark:text-gray-400">Education </span></h2>
		</section>
		<section class="gap-2 px-4">
			<h2 class="text-xl text-gray-500 dark:text-gray-400">Contact </span></h2>
		</section>
	</main>
	
</Layout>
