---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span
  class="text-xs px-2.5 py-1.5 rounded-sm ring-slate-200 ring-1 text-slate-500 dark:ring-slate-800 hover:bg-slate-200 hover:dark:bg-slate-800 transition-all select-none dark:text-slate-300 font-normal"
>
  {label}
</span>
