---
import Link from "../components/Link.astro";

interface Props {
  title: string;
  body: string;
  label?: string;
  link?: string;
}

const { title, body, label, link } = Astro.props;
---

<div class="flex flex-col gap-1">
  <div class="flex gap-2 items-center justify-between">
    <h3 class="text-md text-slate-950 dark:text-slate-200">
      {link ? <Link title={title} link={link} /> : title}
    </h3>
    {
      label && (
        <span class="text-sm text-slate-500 dark:text-slate-400">{label}</span>
      )
    }
  </div>
  <p class="text-sm text-slate-500 text-balance">{body}</p>
</div>
